[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
# Hotgix for Requirementslib which is dependency of Pipenv
# see: https://github.com/sarugaku/requirementslib/issues/296
chardet = "*"
# Hotfix for Pipenv's Bug see: https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
# - ImportError: cannot import name 'LegacySpecifier' from 'packaging.specifiers' · Issue #152 · Madoshakalaka/pipenv-setup
#   https://github.com/Madoshakalaka/pipenv-setup/issues/152)
packaging = "==21.3"
# To graduate discussion about detailed code style of Python
pipenv-setup = "*"
pylint = "*"
# To test
pytest = "*"
pytest-resource-path = "*"
pytest-asyncio = "*"
pytest-mock = "*"
radon = "*"
requests-mock = "*"
showroompodcast = {editable = true, path = "."}
tox = "*"
types-requests = "*"
# - ImportError: cannot import name 'LegacySpecifier' from 'packaging.specifiers' · Issue #152 · Madoshakalaka/pipenv-setup
#   https://github.com/Madoshakalaka/pipenv-setup/issues/152
vistir = "<0.7.0"
xenon = "*"

[packages]
# To use async / await syntax for CPU bound task
asynccpu = "*"
# To support Ctrl + C to stop FFmpeg archiving
asyncffmpeg = "*"
# To create CLI
click = "<8.1.0,>=7.0"
# To request to SHOWROOM API
requests = "*"
slack-sdk = "*"
# To use YAML config file for list of programs to archive
yamldataclassconfig = "*"
