[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
# Hotgix for Requirementslib which is dependency of Pipenv
# see: https://github.com/sarugaku/requirementslib/issues/296
chardet = "*"
# Hotfix for Pipenv's Bug see: https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
# To graduate discussion about detailed code style of Python
pipenv-setup = "*"
pylint = "*"
# To test
pytest = "*"
radon = "*"
xenon = "*"
pytest-resource-path = "*"
pytest-asyncio = "*"
pytest-mock = "*"
requests-mock = "*"
types-requests = "*"
showroompodcast = {editable = true, path = "."}

[packages]
# To use async / await syntax for CPU bound task
asynccpu = "*"
# To support Ctrl + C to stop FFmpeg archiving
asyncffmpeg = "*"
# To create CLI
click = ">=7.0"
slack-sdk = "*"
# To use YAML config file for list of programs to archive
yamldataclassconfig = "*"
